
/*---0-GENERAL SETTINGS---
-------------------------*/

/*---0.0 Structure----*/

body {
    padding-top: 54px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #4C4C4B;
    line-height: 1.3;
    background-color: #F0F0F0;
}

body.homepage {
    background-color: #FFF;
}

p {
    font-size: 1.125em;
}

a {
    color: #36a9e0;
}

a:hover,
a:focus {
    color: #00a091;
    text-decoration: inherit;
}

@media(max-width: 991px) {
    body > footer {
        display: none;
    }
}

.gray-text {
    color: #AAA;
}

/*---0.1 Typography---*/

@font-face {
    font-family: 'signika';
    src: url('../fonts/signika-bold-webfont.eot');
    src: url('../fonts/signika-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-bold-webfont.woff2') format('woff2'),
         url('../fonts/signika-bold-webfont.woff') format('woff'),
         url('../fonts/signika-bold-webfont.ttf') format('truetype'),
         url('../fonts/signika-bold-webfont.svg#signikabold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'signika';
    src: url('../fonts/signika-light-webfont.eot');
    src: url('../fonts/signika-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-light-webfont.woff2') format('woff2'),
         url('../fonts/signika-light-webfont.woff') format('woff'),
         url('../fonts/signika-light-webfont.ttf') format('truetype'),
         url('../fonts/signika-light-webfont.svg#signikalight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'signika';
    src: url('../fonts/signika-regular-webfont.eot');
    src: url('../fonts/signika-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-regular-webfont.woff2') format('woff2'),
         url('../fonts/signika-regular-webfont.woff') format('woff'),
         url('../fonts/signika-regular-webfont.ttf') format('truetype'),
         url('../fonts/signika-regular-webfont.svg#signikaregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'signika';
    src: url('../fonts/signika-semibold-webfont.eot');
    src: url('../fonts/signika-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/signika-semibold-webfont.woff2') format('woff2'),
         url('../fonts/signika-semibold-webfont.woff') format('woff'),
         url('../fonts/signika-semibold-webfont.ttf') format('truetype'),
         url('../fonts/signika-semibold-webfont.svg#signikasemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

h1 {
    font-family: 'signika';
    font-weight: 600;
    color: #00a091;
    font-size: 3em;
    margin-bottom: 20px;
}

@media(max-width: 767px) {
    h1 {
        font-size: 2em;    
    }
}

.lfloat {
    float: left;
}

.rfloat {
    float: right;
}

.pad0 {
    padding: 0 !important;
}


/*-----0.2 Styles -------*/

.darken-content {
    background-color: rgba(0,0,0,0); 
    z-index: 999;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s;
            transition: background-color 0.5s, transform 0.5s;
}

.darken-content.show {
    background-color: rgba(0,0,0,0.30); 
}

.form-control {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
}

.caret {
    border: 0;
    background-color: transparent;
    background: url('../images/nursyu-sprite.png') no-repeat -160px 0;
    width: 10px;
    height: 8px;
}

.caret-green {
    background: url('../images/nursyu-sprite.png') no-repeat -173px 0;
    width: 10px;
    height: 8px;
}

.navbar .form-control:focus {
    border-color: transparent;
    box-shadow: none;
}

.form-control:focus {
    border-color: #00a091;
    box-shadow: 0 0 5px rgba(0,160,145,.6);
}

.breadcrumb {
    background: transparent;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #00a091;
    border-radius: 0;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    z-index: 5;
}

.breadcrumb>.active {
/*    color: #AAA;*/
}

.breadcrumb>li+li:before {
    padding: 0 8px 0 5px;
    color: #333;
    content: "\2013";
}

.select-style {
    display: inline-block;
    border: 1px solid #333;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0 10px 0 0;
    position: relative;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.select-style:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 13px;
    background: url('../images/nursyu-sprite.png') -147px -48px;
    top: 50%;
    margin-top: -6px;
    right: 10px;
}

.select-style select {
    display: inline-block;
    width: 130%;
    z-index: 9;
    position: relative;
    padding-right: 30px;
    box-shadow: none;
    border: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.select-style .form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.select-style select:focus {
    outline: none;
}


/*-----0.3 Buttons ------*/

.btn {
    background-image: none;
    border-radius: 4px;
    font-size: 22px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    box-shadow: none;
    text-shadow: none;
            transition: color 0.3s, background-color 0.3s;
    -webkit-transition: color 0.3s, background-color 0.3s;
}

.btn-primary {
    background-color: #DD5A3C;
    color: #fff;
    border-color: #DD5A3C;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #CF4A2B;
    border-color: #CF4A2B;
}

.btn-default,
.btn-default:focus  {
    background-color: #FFF;
    color: #36a9e0;
    border-color: #36a9e0;
}

.btn-default:hover {
    background-color: #36a9e0;
    color: #fff;
    border-color: #36a9e0;
}

.btn-default.added {
    background-color: #CCC;
    border-color: #ccc;
    color: #fff;
}

.btn-default.added:before {
    content: '';
    background: url('../images/nursyu-sprite.png') no-repeat -160px -11px;
    width: 16px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.btn-default.added.over {
    background-color: #F22A2A;
}

.btn-default.added.over:before {
    background-position: -160px -29px;
}

.btn-success.active,
.btn-success:active,
.btn-success:hover {
    background-color: #00A091;
    border-color: #00A091;
    box-shadow: none;
}

.btn-success {
    background-color: #007261;
}

.nav-tabs {
    border-bottom: none;
    padding: 0 10px;
    margin-top: 20px;
}

.nav-tabs > li > a {
    padding: 6px 20px;
    margin-bottom: 15px;
    background-color: #007261;
    color: #FFF;
    margin-right: 1px;
    border-radius: 0;
}

.nav-tabs > li:first-of-type > a {
    border-radius: 4px 0 0 4px;
}

.nav-tabs > li:last-of-type > a {
    border-radius: 0 4px 4px 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li:active > a,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a:hover,
.nav-tabs > li:active > a:hover,
.nav-tabs > li > a:focus,
.nav-tabs > li.active > a:focus {
    background-color: #00A091;
    border-color: #00A091;
    color: #FFF;
}

.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover,
.datepicker table tr td.old,
.datepicker table tr td.new,
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
    color: #DDD;
}

.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
    background: #00a091;
    background-image: none;
    border-radius: 19px;
}

.datepicker tbody td,
.datepicker tbody th {
    width: 38px;
    height: 38px;
    border-radius: 19px;
}

.datepicker-dropdown:before,
.datepicker-dropdown.datepicker-orient-bottom:after {
    content: none;
}

.dates-selected span {
    margin-right: 10px;
    display: inline-block;
}

.dates-selected span:after {
    content: ',';
}

.dates-selected span:last-of-type:after {
    content: '';
}

/*-------1 - HEADER--------
-------------------------*/

.navbar {
    background: #00a091; /* Old browsers */
    background: -moz-linear-gradient(left,  #00a091 0%, #36a9e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a091), color-stop(100%,#36a9e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* IE10+ */
    background: linear-gradient(to right,  #00a091 0%,#36a9e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a091', endColorstr='#36a9e0',GradientType=1 ); /* IE6-9 */
    border: 0;
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}

.navbar h1 {
    float: left;
    margin: 0;
}

.navbar > .container .navbar-brand {
    text-indent: -9999px;
    background: url('../images/logo-navbar.svg')no-repeat right center;
    width: 100px;
    height: 43px;
    margin: 5px 30px 7px 0;
}

.navbar-brand-container {
    background-position: -26px center;
}

@media (max-width: 767px) {
    .navbar > .container .navbar-brand {
        display: inline-block;
        width: 125px;
    }
    .navbar-brand-container {
        float: left;
        background-image: url('../images/menu.png');
        background-repeat: no-repeat;
        background-position: -26px center;
        -webkit-transition: background-position 0.4s;
                transition: background-position 0.4s;
    }
    .navbar-brand-container.back,
    .navbar-brand-container.checkout {
        background-image: none;
    }

    .navbar-brand-container.back .back {
        display: inline-block;
        float: left;
        width: 55px;
        height: 55px;
        margin-right: 10px;
    }

    .navbar-brand-container.back .back span {
        display: inline-block;
        width: 50px;
        height: 39px;
        background: url('../images/back.png') no-repeat 12px center;
        border-right: 1px solid #FFF;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .navbar-brand-container.back .navbar-brand {
        width: 100px;
    }

    .navbar-brand-container.checkout .navbar-brand {
        width: 105px;
    }

    body.showing-navbar .navbar-brand-container {
        background-position: -16px center;
    }
}

.navbar-toggle,
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
    border: 0;
    padding: 20px 16px 21px 16px;
    margin: 0;
    float: left;
}

.navbar-inverse .navbar-form {
    border: 0;
}

.navbar-nav {
    margin-top: 0;
}

.navbar-inverse .navbar-nav > li  > a {
    padding: 20px;
    color: #fff;
}

.navbar-form {
    margin: 0;
    padding: 16px 0 0;
}

.navbar-form input {
    height: auto;
    padding: 10px 12px;
    line-height: 1;
}

.navbar-form .form-control {
    border-radius: 4px;
    color: #fff;
}

.navbar-form .form-group {
    float: left;
    width: 100%;
    position: relative;
}

.navbar-form .form-control::-webkit-input-placeholder {
   color: #fff;
   vertical-align: center;
   font-size: 18px;
}

.navbar-form .form-control:-moz-placeholder { /* Firefox 18- */
   color: #fff; 
   vertical-align: center;
   font-size: 18px;
}

.navbar-form .form-control::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;
   vertical-align: center;
   font-size: 18px; 
}

.navbar-form .form-control:-ms-input-placeholder {  
   color: #fff; 
   vertical-align: center;
   font-size: 18px; 
}

.navbar-form .dropdown {
    display: block;
    clear: both;
}

.navbar-form button {
    position: absolute;
    top: 50%;
    right:0;
    margin-top: -20px;
    background-color: transparent;
    background: url('../images/lupa.png') no-repeat center;
    border: 0;
    width: 40px;
    height: 40px;
    box-shadow: none;
}

.navbar-form button:hover,
.navbar-form button:focus {
    background-color: transparent;
    background-position: center;
}

.navbar-inverse .navbar-nav>li.active a,
.navbar-inverse .navbar-nav>li.active a:hover,
.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:hover,
.navbar-inverse .navbar-nav>.active>a:focus  {
     background-color: rgba(0,0,0,0.20);
     background-image: none; 
     box-shadow: none;
}

.navbar-nav.language > li > a:hover,
.navbar-nav.language > a:focus,
.navbar-nav.language > .open>a:focus,
.navbar-nav.language > .open>a {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

.navbar-nav.language .open .dropdown-menu>li>a {
    padding-left: 20px;
    color: #fff;
}

@media(max-width: 767px) {
    #navbar-collapse {
        position: fixed;
        width: 200px;
        left: -200px;
        background-color: #00a091;
        -webkit-transition: left 0.4s;
                transition: left 0.4s;
        overflow-y: auto;
    }

    #navbar-collapse .navbar-nav {
        margin: 0;
    }

    body.showing-navbar {
        height: 100%;
        overflow: hidden;
    }

    .showing-navbar #navbar-collapse {
        left: 0;
    }
    .navbar-form {
        padding: 20px 7px;
    }
}


.navbar-right {
    margin-right: 0;
}

/*---- MEDIA QUERIES ----
-------------------------*/

@media(min-width: 768px) {

    .navbar {
        font-size: 16px;
    }

    #navbar-collapse {
        height: auto !important;
    }

    .navbar-inverse .navbar-nav>li>a {
        padding-top: 17px;
        padding-bottom: 17px;
        color: #fff;
    }

    .navbar-nav.language>li>a {
        padding: 0;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    .navbar-inverse .navbar-nav>.active>a {
        background-image: none;
        background-color: transparent; 
    }

    .navbar-form {
        float: left;
        margin-right: 25px;
    }

    .navbar-form .form-control {
        padding: 2px 10px;
        line-height: inherit;
    }

    .navbar-form .dropdown {
        padding-left: 8px;
        padding-top: 0;
        display: inline-block;
        clear: both;
    }

    .navbar-form .form-control::-webkit-input-placeholder {
       color: #fff;
       font-size: 14px;
    }

    .navbar-form .form-control:-moz-placeholder { /* Firefox 18- */
       color: #fff;
       font-size: 14px;  
    }

    .navbar-form .form-control::-moz-placeholder {  /* Firefox 19+ */
       color: #fff; 
       font-size: 14px; 
    }

    .navbar-form .form-control:-ms-input-placeholder {  
       color: #fff; 
       font-size: 14px; 
    }

    .navbar-form button {
        margin-top: -12px;
        width: 35px;
        height: 24px;
    }

    .navbar-nav.language .open .dropdown-menu>li>a {
        padding-left: 20px;
        color: #36a9e0;
    }

    .navbar-nav.language .open .dropdown-menu>li>a:hover {
        color: #00A091;
        background: inherit;
    }

}

@media(min-width: 992px) {
    .navbar-form .dropdown {
        padding-left: 30px;
        display: inline-block;
    }
}



/*-------2 - FOOTER--------
-------------------------*/

.footer-page {
    border-top: 3px solid;
    background: #FFF;
    border-color: #00a091; /* Old browsers */
    border-color: -moz-linear-gradient(left,  #00a091 0%, #36a9e0 100%); /* FF3.6+ */
    border-color: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a091), color-stop(100%,#36a9e0)); /* Chrome,Safari4+ */
    border-color: -webkit-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* Chrome10+,Safari5.1+ */
    border-color: -o-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* Opera 11.10+ */
    border-color: -ms-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* IE10+ */
    border-color: linear-gradient(to right,  #00a091 0%,#36a9e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a091', endColorstr='#36a9e0',GradientType=1 ); /* IE6-9 */
}

.footer-page img {
    text-align: center;
    display: block;
    margin: 20px auto 5px auto;
}







/* *** HOME ***
*************** */

h2 {
    color: #00A091;
    font-family: 'signika';
    font-weight: 600;
    font-size: 1.75em;
}

@media(min-width: 768px) {
    h2 {
        font-size: 2.5em;
    }
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
    font-weight: 700;
}

i {
    display: inline-block;
    background-image: url('../images/nursyu-sprite.png');
}

.above-fold {
    background: rgba(54,169,224,0.55);
}

video#bgvid {
    position: fixed;
    height: 510px;
    right: 0;
    z-index: -9;
    top: 52px;
}

@media(min-width: 768px) {
    .above-fold {
        height: 500px;
        background-size: cover;
        position: relative;
    }
}

.above-fold h2 {
    font-size: 1.625em;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    line-height: 1.25;
}

@media(min-width: 768px) {
    .above-fold h2 {
        font-size: 3em;
        position: absolute;
        color: #FFF;
        top: 10%;
        width: 420px;
        line-height: 1.15;
        font-weight: 300;
    }
}

.finder {
    background-color: #FFF;
    padding: 16px 0 3px;
}

@media (min-width: 768px) {
    .finder {

        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(255,255,255,0.55);
    }
}

@media (min-width: 768px) {

    .advantages,
    .reasons,
    .partners,
    .testionials {
        padding: 60px 0 60px 0 !important;
    }

}

.finder label {
    margin-left: 5px;
}

.finder select {
    border-color: #000;
    padding-top: 0;
}

@media(max-width: 767px) {
    .finder select {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.finder button {
    margin-top: 25px;
    padding-top: 7px;
    padding-bottom: 8px;
}

.reasons {
    background: url('../images/back-home.jpg') no-repeat 25% 30%;
    background-size: cover;
}

.testionials {
    background-color: #36a9e0;
}

.advantages,
.reasons {
    text-align: center;
}

.advantages,
.reasons,
.partners,
.testionials {
    padding: 40px 0 50px 0;
}

.advantages h2,
.reasons h2,
.partners h2,
.testionials h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.advantages .row > div,
.reasons .row > div,
.testionials .row > div:first-of-type {
    margin-bottom: 20px;
}

.icon-reservation {
    width: 35px;
    height: 36px;
    background-position: 0 0;
}

.icon-letter {
    width: 43px;
    height: 29px;
    background-position: -38px 0;
    margin-top: 4px;
    margin-bottom: 3px;
}

.icon-plane {
    width: 73px;
    height: 32px;
    background-position: -84px 0;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon-calendar {
    background: #dd5a3c;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.icon-calendar:before {
    background-image: url('../images/nursyu-sprite.png');
    content: '';
    display: inline-block;
    width: 29px;
    height: 34px;
    background-position: 0 -86px;
    margin: 7px 10px;
}

.advantages p,
.reasons p {
    text-align: left;
}

@media (min-width: 992px) {
    .advantages p,
    .reasons p {
        padding: 0 10px;
    }
}

.under-fold {

}


.advantages {
    background-color: #fff;
}

.partners {
    background-color: #fff;
}

.reasons,
.testionials {
    color: #fff;
    background-size: cover; 
}

.reasons h2,
.testionials h2 {
    color: #ffF;
}

.icon-badge {
    width: 37px;
    height: 53px;
    background-position: -67px -35px;
}

.icon-dialog {
    width: 65px;
    height: 44px;
    background-position: 0 -39px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.icon-clock {
    width: 37px;
    height: 44px;
    background-position: -107px -35px;
    margin-top: 5px;
    margin-bottom: 4px;
}

.partners {
padding-bottom: 50px; 
}

.partners img {
    display: block;
    margin: 20px auto;
    width: 120px;
}   

@media (min-width: 768px) {
    .partners img {
        display: inline-block;
        margin: 20px 20px;
        width: 120px;
    }
}

.testionials .row > div:first-of-type {
    padding: 0 40px;
}

.satisfaction {
    font-family: 'signika';
    font-size: 4.5em;
    display: block;
    text-align: center;
}

@media(min-width: 992px) {
    .satisfaction {
        font-size: 7em;
        text-align: left;
        line-height: 1;
    }
}

.satisfaction + span {
    font-family: 'signika';
    font-weight: 600;
    font-size: 1.625em;
    float: left;
    width: 100%;
    text-align: center;
}

@media(min-width: 992px) {
    .satisfaction + span {
        text-align: left;
        font-size: 2.25em;
        line-height: 1;
    }
}

.testionials {
    padding-bottom: 20px;
}

.opinion {
    font-style: italic;
    font-size: 1.25em;
    font-weight: 300;
    margin-bottom: 30px;
}

@media (min-width: 992px) {
    .opinion p {
        margin-right: 30px;
    }
}

.opinion p:first-of-type {
    margin-bottom: 0;
}

.author {
    font-style: normal;
    font-size: 1em;
    margin-top: 5px;
}






/* *** SERVICES ***
******************* */

.title {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.title h1 {
    position: relative;
    z-index: 9;
}

.title img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

@media(max-width: 767px) {
    .title {
        margin-bottom: 15px;
    }

    .services-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .services .title {
        margin-bottom: 0;
    }
}

@media(max-width: 991px) {
    .services {
        margin-bottom: 70px;
    }    
}


.panel {
    background-color: #F0F0F0;
    border-radius: 0;
    margin-bottom: 0;
            box-shadow: none;
    -webkit-box-shadow: none;
}

@media(min-width: 768px) {
    .panel {
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    .panel {
        border-bottom: 1px solid #CCC;
    }
    .panel:first-of-type {
        border-top: 1px solid #CCC;
    }
}

.product-list a {
    display: block;
    padding: 0 15px;}

.panel-heading {
    padding: 0;
    border-radius: 0;
    position: relative;
    border: none;
}

.panel-heading h4,
.related-products h4 {
    font-weight: 600;
}

.panel-heading h4 a .section-name,
.related-products h4 {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
    font-weight: 700;
    color: #00a091;
}

.reservations section h2 {
    color: #00a091;
    font-size: 1.25em;
}

@media(max-width: 767px) {
    .panel-heading h4 a .section-name {
        padding-left: 15px;
    }    
}


@media(min-width: 768px) {
    .panel-heading h4 a,
    .related-products h4 {
        padding-left: 0;
        padding-bottom: 0;
        font-size: 1.25em;
        cursor: default;
    }
    .panel-heading h4 a .section-name {
        display: inline-block;
        height: auto;
    }
}

.panel-heading span.number {
    display: inline-block;
    background-color: #00a091;
    color: #FFF;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 14px;
    line-height: 1.1;
    padding-top: 1px;    
    margin-left: 8px;
    font-weight: normal;
    margin-top: -1px;
}

@media(min-width: 768px) {
    .panel-heading span.number {
        display: none;
        visibility: hidden;
    }
}

.panel-heading a .caret-green {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(-180deg);
            transform: translateY(-50%) rotate(-180deg);
}

.panel-heading a.collapsed .caret-green {
    -webkit-transform: translateY(-50%) rotate(0deg);
            transform: translateY(-50%) rotate(0deg);
}

@media(min-width: 768px) {
    .panel-collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
    }
}

.product-list {
    padding: 0;
    margin-bottom: 0;
}

.product-list li {
    background-color: #fff;
    position: relative;
    border-bottom: 1px solid #EEE;
}

.product-list li:last-of-type {
    border-bottom: none;   
}

.product-list .product {
    vertical-align: middle;
    display: table-cell;
    height: 50px;
}

@media(min-width: 992px) {
   .product-list a {
        width: 70%;
    } 
}

@media(min-width:768px){
    .product-list .panel-item {
        margin: 10px 0;
        position: relative;

    }
    .product-list .panel-item a {
                transition: background-color 0.3s;
        -webkit-transition: background-color 0.3s;
    }
    .product-list .panel-item.over {
        background-color: #eff9fa;
    }

    .product-list .product {
        height: 60px;
    }
    .product-list li {
        border: none;
    }
}

.product-list li a span.glyphicon-ok {
    color: #00a091;
    margin-left: 8px;
}

.product-list .price {
    float: right;
    color: #333;
    font-size: 2em;
    display: inline-block;
    margin: 9px 0;
}
@media(min-width: 992px) {
    .product-list .price {
        margin-right: 0;
    }    
}


.product-list .price span {
    font-size: 0.5em;
    margin-left: 10px;
}

.product-list .panel-item button {
    position: absolute;
    top: 50%;
            transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 15px;
    padding: 6px 40px;
}

/* ASIDE */

aside {
    line-height: 1.4;
}

aside article {
    margin-bottom: 20px;
}

aside header {
    background-color: #00a091;
    color: #fff;
    padding: 4px 15px; 
    font-size: 1.25em;   
}

aside ul {
    margin: 0;
    padding: 4px 15px;
    background-color: #FFF;
    list-style: none;
    list-style-position: inside;
}

aside li {
    padding-left: 11px;
    text-indent: -0.65em;
}

aside li:before {
    content: '-';
    padding-right: 5px;
}

.cart li:last-of-type {
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
}

aside lh {
    font-weight: 600;
    display: block;
    border-bottom: 1px solid #333;
    padding-bottom: 4px;
    margin-bottom: 4px;
}

aside footer {
    padding: 0 15px 20px 15px;
    background-color: #FFF;
}

aside .btn {
    width: 100%;
}

@media(max-width: 991px) {
    .cart {
        position: fixed;
        right: 0;
        bottom: -100px;
        left: 0;
        padding: 15px;
        background-color: #eff9fa;
        margin: 0;
    }

    .cart.with-services {
        bottom: -2px;
    }

    .cart header,
    .cart lh,
    .cart ul {
        display: none;
    }

    .cart footer {
        padding: 0;
        background-color: transparent;
    }

    .cart footer > span {
        display: inline-block;
        width: 52%;
        float: left;
        margin-right: 3%;
        margin-top: 3px;
    }

    .cart footer strong {
        font-size: 2.75em;
        display: inline-block;
        float: left;
        font-weight: 500;
        line-height: 0.95;
        width: 25%;
        text-align: right;
        margin-right: 5%;
    }

    .cart footer span span {
        display: inline-block;
        width: 70%;
        line-height: 1.25;
    }

    .cart footer .btn {
        float: left;
        width: 45%;
    }

}

/* PRODUCT PAGE */

.product-card > div {
    background-color: #FFF;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 40px;
}

.product-page h2 {
    font-size: 1.25em;
    color: inherit;
    margin-top: 0;
    margin-bottom: 5px;
}

.product-page .description p {
    margin-bottom: 20px;
}

.product-page .description ul lh {
    font-family: 'signika';
    font-size: 1.5em;
    font-weight: 600;
}

.product-page .product img {
    width: 100%;
    margin-bottom: 10px;
}

.product-page .description ul.included {
    color: #00a091;
    margin-bottom: 20px;
}

.related-products h4 {
    height: auto;
    margin: 0;
    padding: 0;
}

.product-card .price {
    color: #00a091;
    text-align: right;
    margin-bottom: 10px;
}

.product-card .price span:first-of-type {
    font-size: 3em;
    font-weight: 700;
    display: block;
    line-height: 1;
}

.product-card .price span:last-of-type {
    font-size: 1.5em;
    font-weight: 600;
}

@media(max-width: 767px) {
    .product-card ul {
        width: 60%;
    }
    
    .product-card .price {
        text-align: left;
        margin-top: 20px;
    }

    .product-card .price span:first-of-type {
        display: inline-block;
        margin-right: 5px;
        font-size: 2.25em;
    }

    .product-card > div {
        margin-bottom: 0;
    }

    .footer-product {
        background-color: #eff9fa;
        position: fixed;
        width: 100%;
        bottom: 0;
        height: 75px;
        z-index: 99;
        left: 0;
    }

    .footer-product .price {
        float: left;
        width: 40%;
        margin-top: 10px;
    }

    .footer-product .price span:first-of-type {
        display: block;
    }

    .footer-product .price span:last-of-type {
        display: block;
        font-size: 1.125em;
    }

    .footer-product button {
        float: right;
        width: 55%;
        position: absolute;
        right: 15px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }

}


/* CHECKOUT */



.steps {
    padding: 0;
    list-style-position: inside;
    margin: 10px 0 20px;
    position: relative;
    float: left;
    width: 100%;
}

.steps:after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: 0;
    background: #00a091; /* Old browsers */
    background: -moz-linear-gradient(left,  #00a091 0%, #36a9e0 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#00a091), color-stop(100%,#36a9e0)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #00a091 0%,#36a9e0 100%); /* IE10+ */
    background: linear-gradient(to right,  #00a091 0%,#36a9e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a091', endColorstr='#36a9e0',GradientType=1 ); /* IE6-9 */
}

.steps li {
    float: left;
    width: 33.3333%;
    padding: 5px 10px;
    border-bottom: 3px solid #4c4c4b;
    text-align: center;
}

.steps li.active {
    color: #00a091;
}

.checkout form {
    clear: left;
}

.checkout section {
    background-color: #FFF;
    margin-bottom: 20px;
}

.checkout section h1 {
    background-color: #00a091;
    color: #FFF;
    font-size: 1.25em;
    padding: 4px 10px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.4;
}

.checkout .form-group,
.checkout legend,
.checkout .button-container {
    padding: 0 10px;
}

.checkout label,
.checkout legend {
    font-size: 1em;
    font-weight: 400;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    border: none;
}

.form-control {
    border-color: #00a091;
}

fieldset .form-control {
    width: auto;
    display: inline-block;
}

fieldset .form-group {
    width: auto;
    float: left;
    position: relative;
}

.birthday .form-group:after {
    content: '/';
    font-size: 1.625em;
    position: absolute;
    top: 0;
    right: -4px;
    color: #AAA;
}

.birthday .form-group:last-of-type:after {
    content: none;
}

.birthday input {
    width: 60px;
}

.btn-group {
    padding: 0 10px;
}

.btn-group label {
    border-right: 1px solid #FFF !important;
}

.btn-group label:last-of-type {
    border: 0;
}

.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0;
}

.btn-group .btn {
    padding: 6px;
    width: 53px;
    margin-bottom: 15px;
}

.form-group.prefix:before {
    content: '+';
    font-size: 1.25em;
    float: left;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    color: #AAA;
}

.form-group.prefix input {
    width: 60px;
    padding-left: 20px;
}

.phone-number .form-group {
    margin-bottom: 5px;
}

.phone-number .form-group:last-of-type {
    padding-left: 0;
}

.phone-number .help-block {
    clear: left;
    padding-left: 10px;
    font-size: 0.875em;
    margin-bottom: 15px;
}

.form-control-feedback {
    right: 10px;
}

.form-control-error {
    background-color: #ffdbcf;
    color: #a94442;
    font-size: 0.875em;
    padding: 5px 10px;
    margin-top: 10px;
    display: block;
    position: relative;
}

.form-control-error:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 8px 6px;
    border-color: transparent transparent #ffdbcf transparent;
}

.checkout .legal {
    font-size: 0.875em;
    font-weight: 300;
    color: #666;
    margin-top: 5px;
}


@media(max-width: 767px) {
    .checkout {
        padding-left: 10px;
        padding-right: 10px;
    }
    .steps {
        display: inline-block;
        float: inherit;
        width: auto;
    }
    .steps li {
        width: auto;
    }
}

@media(max-width: 991px) {
    .form-control {
        height: 45px;
    }

    .birthday .form-group:after {
        top: 4px;
    }

    .btn-group .btn {
        padding: 6px;
    }
}

.checkout .reservation p {
    padding: 0 10px;
}

.checkout .reservation h2 {
    padding: 0 10px;
    font-size: 24px;
    color: #DD5A3C;
    padding-bottom: 15px;
}

.card {
    padding-bottom: 15px;
}
.card .form-control.auto {
    width: auto;
}

.card-before select {
    border-radius: 0;
    margin-right: 10px;
}

.secure-payment {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    float: right;
}

.ccv {
    float: right;
}

@media(max-width: 991px) {
    .secure-payment {
        float: inherit;
    }

    .ccv {
        float: left;
        margin-left: 30px;
    }
}

.checkout .cart li {
    padding: 0;
    text-indent: 0;
    padding-bottom: 10px;
}

.checkout .cart li > span,
.checkout .cart li .gray-text {
    display: block;
}

.checkout .cart li .price {
    padding-top: 10px;
    font-size: 24px;
}

.checkout .cart li .price .quantity,
.checkout .cart li .price .currency {
    font-size: 16px;
}

.cart .total {
    background-color: #FFF;
    padding-bottom: 10px;
}

.cart .total > span {
    font-size: 26px;
}

.place {
    padding-bottom: 10px;
}

@media (max-width: 991px) {

    .place .nav-tabs li {
        width: 50%;
        height: 50px;
        text-align: center;
    }

}

.service {
    margin-bottom: 30px;
}

.service p {
    margin-bottom: 0;
}

.reservations h2 {
    margin-bottom: 8px;
}

.reservations article {
    background-color: #00a091;
    color: #FFF;
    padding: 10px;
    margin-bottom: 15px;
    position: relative;
}

.reservations article:hover {
    background-color: #008071;
}

.reservations.past {
    padding-top: 30px;
    padding-bottom: 30px;
}

.reservations.past article {
    background-color: #fff;
    color: #333;
    padding: 0;
}

.reservations.past article.active:hover,
.reservations.past article .panel-heading:hover {
    background-color: #ddd;
}

.reservations.past article .panel-heading,
.reservations.past article .panel-collapse {
    padding: 10px;
}

.details .title {
    margin-bottom: 0;
}

.reservations article h3 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}

.reservations.past article h4 {
    color: #00a091;
    text-transform: uppercase;
}

.reservations article .icon-calendar {
    background-color: #00a091;
    width: 15px;
    height: 18px;
    margin-right: 8px;
}

.reservations article:hover .icon-calendar {
    background-color: #008071;
}

.reservations.past article .icon-calendar {
    background-color: #FFF;
}

.reservations.past article:hover .icon-calendar {
    background-color: #DDD;
}

.reservations article .icon-calendar:before {
    background-position: -41px -94px;
    width: 15px;
    height: 18px;
    margin: 0;
}

.reservations.past article .icon-calendar:before {
    background-position: -58px -94px;
}

.reservations.past article .icon-here {
    background-position: -178px -49px;
}

.reservations article p {
    margin-bottom: 0;
}

.reservations .panel {
    border: 0;
}

.reservations .panel .panel-heading a {
    color: inherit;
}

.icon-here {
    display: inline-block;
    background-image: url('../images/nursyu-sprite.png');
    background-position: -167px -49px;
    width: 10px;
    height: 13px;
    margin-left: 4px;
    margin-right: 8px;
}

.all-link {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.details .panel {
    margin-bottom: 30px;
}

@media(max-width: 767px) {
    .details .panel {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0;
    }
    .masonry-container > div {
        position: static !important;
    }
    .masonry-container a:after {
        background-image: url('../images/nursyu-sprite.png');
        width: 9px;
        height: 10px;
        position: absolute;
        background-position: -160px 0;
        right: 20px;
        top: 25px;
                transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    .masonry-container a.collapsed:after {
        top: 27px;
                transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
}

@media(min-width: 768px) {
    .details #details-accordion {
        padding-top: 30px;
    }
}

.details .panel-collapse {
    padding: 0px 10px;
    background-color: rgb(255, 255, 255);
}

.details form {
    padding: 10px 0 12px;
}

.details .panel-heading {
    background-color: #00a091;
    color: #FFF;
    font-size: 1.25em;
    padding: 4px 10px;
    margin-bottom: 20px;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.4;
    margin-bottom: 0;
}

.details .panel-heading h4 a .section-name {
    color: #FFF;
    font-weight: 300;
    line-height: 1.4;
}